<div>
  <div>
    <h2>Notification edit</h2>
  </div>
  <%= form_with(model: @notification, url: admin_notification_path(@notification), data: { turbo_method: :patch }) do |form| %>
    <%= render partial: "form", locals: { form: form }%>
  <% end %>
</div>
