<div class="col-4" >
  <div>
    <h2>Notifications</h2>
  </div>

  <table>
    <thead>
      <tr>
        <th>タイトル</th>
        <th>コンテンツ</th>
        <th>表示期間</th>
        <th>公開ステータス</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>タイトル</td>
        <td>コンテンツ</td>
        <td>2000/1/1 9:00 ~ 2022/1/1 9:00</td>
        <td>公開</td>
      </tr>
    </tbody>
  </table>

  <div>
    <%= link_to "新規作成", new_admin_notification_path %>
  </div>
</div>
